.navbar{
  background-color: black;
}
/* Change border color of all navbar items on hover */
.navbar-brand:hover{
  color: #cf914f;
}

.navbar-brand{
  color: #fbdf8d;
}

.logo-s{
  display:block;
  margin-left:auto;
  margin-right:auto;
}

/* Change background color of dropdown toggle button and text color on hover */
.dropdown-toggle:hover {
  background-color: black; 
  color: #cf914f;
}

/* Blend in the dropdown toggle button with the background */
.dropdown-toggle {
  background-color: black; 
  color: #fbdf8d ; 
  border:transparent; /* Remove border */
}
.dropdown-item{
  background-color:#fbdf8d;
  border:transparent;
}

.dropdown-item:hover {
  color: #cf914f;
}
.more-btn{
  background-color: #ffc0a4;
}
/*fonts*/
.rubik-bubbles-regular {
  font-family: "Rubik Bubbles", system-ui;
  font-weight: 400px;
  font-style: normal;
  text-align: center;
  color: #fbdf8d;
}

.rubik-bubbles-regular1{
  font-family: "Rubik Bubbles", system-ui;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color:#cf914f;

}
/*DONE:Fonts*/
.bg{
  width:95%;
  max-height: 600px;
}
.mio-pic{
  height:90%;
  width:80%;
  border-image: round;
  border-radius:50%;
  display:block;
  margin-left:auto;
  margin-right:auto;
  margin-top:10vh;
}

.credit{
  font-size:10px;
  align-items: center;
}

.link{
  color:#fbdf8d;
}
.mio1{
  text-align:center;
}
.mio{
  font-family:"Rubik Bubbles", system-ui;
  font-weight:400;
  font-style:normal;
}
.description{
  margin-top:25vh;
  margin-left:80vh;
}

.flower{
  display:block;
  margin-left:auto;
  margin-right:auto;
  margin-top:50vh;
}
.abtt{
  font-size:45px;
}
.abt{
  font-size:26px;

}

h1{
  text-align: center;
}

.boxx{
  border-color:black 1px solid;
}
.footer{
  min-height:25vh;
  flex-direction:column;
  background-color: #ec8381 ;
}
.text-footer{
  color:white;
}
/*About page*/
.abt-c{
  display:block;
  margin-left:auto;
  margin-right:auto;
  width:50vh;
  height:50vh;
  border-radius: 50%;
}

.abt-v{
  text-shadow: 2px 2px 5px black;
  font-size:26px;
  margin-top:3vh;
}

.abt-b{
  margin-top:5vh;
}

.abt-o{
  text-shadow: 2px 2px 5px black;
}

.sofia-regular {
  font-size:20px;
  font-family: "Sofia", cursive;
  font-weight: 400;
  font-style: normal;
}


/*DONE:About page*/

.ash{
  width: 300px;
}
.og{
  margin-left: 6px;
}
.about-flo{
  text-align:center;
}

/*Content Settings*/
.info{
  overflow:auto;
  fill-opacity: initial;
  text-align:center;
}
/*DONE:Content Settings*/
/*Categories:black butler        http://tala1764.github.io/FINAL-PROJECT/*/
.bb {
  border:1px solid;
  box-shadow:5px 10px 8px 10px #555252;
  border-radius:10%;
  position: relative;
  padding:-30px;
  width: 35%;
  background-color:rgb(103, 21, 21);
}

.image1 {
  border-radius:2%;
  opacity: 1;
  display: block;
  margin-left:auto;
  margin-right:auto;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle1 {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 35vh;
  color:white;
  left: 30%;
  display:block;
  margin-left:auto;
  margin-right:auto;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  max-height:440px;
}

.bb:hover .image1 {
  opacity: 0.5;
  border-radius:20%;
  display:block;
  margin-left:auto;
  margin-right:auto;
}

.bb:hover .middle1 {
  opacity: 1;
  border-radius:20%;
  display:block;
  margin-left: auto;
  margin-right:auto;
}

.text1 {
  background-color: rgb(72, 18, 18);
  color: white;
  font-size: 45px;
  text-align:center;
  width:300px;
  display:block;
  margin-left:auto;
  margin-right:auto;
}
.t2{
  font-size:14px;
  color:white;
}
/*DONE:Categories:black butler*/

/*Ash*/
.bf {
  margin:2px;
  border: 1px solid;
  box-shadow: 5px 10px 8px 10px #555252;
  border-radius:10%;
  position: relative;
  width: 32%;
  background-color:rgb(79, 208, 188);
}

.image2 {
  border-radius:2%;
  opacity: 1;
  display: block;
  margin-left:auto;
  margin-right:auto;
  width: 100%;
  height: 100%;
  transition: .5s ease;
  backface-visibility: hidden;

}

.content{
  display:block;
  margin-left:auto;
  margin-right:auto;
}

.middle2 {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 35vh;
  left:27vh;
  display:block;
  margin-left:auto;
  margin-right:auto;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  max-height:440px;
}

.bf:hover .image2 {
  opacity: 0.5;
  border-radius:20%;
  display:block;
  margin-left:auto;
  margin-right:auto;
}

.bf:hover .middle2 {
  opacity: 1;
  border-radius:20%;
  display:block;
  margin-left: auto;
  margin-right:auto;
}

.text2 {
  background-color: #059a9d;
  color: white;
  font-size: 45px;
  text-align:center;
  width:300px;
  display:block;
  margin-left:auto;
  margin-right:auto;
}
/*DONE: Ash*/

/*Subaru*/
.dl {
  position: relative;
  width: 32%;
  background-color:rgb(84, 24, 121);
}

.image3 {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle3 {
  color:white;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top:200px;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  max-height:380px;
}

.dl:hover .image3 {
  opacity: 0.3;
}

.dl:hover .middle3 {
  opacity: 1;
}

.text3 {
  background-color:rgb(78, 6, 145);
  color: white;
  font-size: 38px;
  text-align:center;
  width:300px;
}
.t {
  color:white;
}
/*DONE:Subaru*/

/*Subaru Title*/
.jacquard-24-charted-regular {
  font-family: "Jacquard 24 Charted", system-ui;
  font-weight: 400;
  font-style: normal;
}
/*DONE: Subaru Title*/

/*Subaru Text*/

/*DONE: Subaru Text*/

/*Who Am I?*/
.wai {
  position: relative;
  max-width: 40%;
  background-color:rgb(26, 25, 25);
  max-height: 435px;
}

.image4 {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle4 {
  color:white;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  max-height:380px;
}

.wai:hover .image4 {
  opacity: 0.3;
}

.wai:hover .middle4 {
  opacity: 1;
}

.text4 {
  background-color: #000000;
  color: white;
  font-size: 45px;
  text-align:center;
  width:300px;
}
.t4{
  color:white
}
/*DONE: Who Am I?*/

/*Cat Guy*/
.cg {
  position: relative;
  max-width: 40%;
  background-color:rgb(26, 25, 25);
  max-height: 435px;
}

.image5 {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle5 {
  color:white;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 200px;
  left: 45%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  max-height:380px;
}

.cg:hover .image5 {
  opacity: 0.3;
}

.cg:hover .middle5 {
  opacity: 1;
}

.text5 {
  background-color: #000000;
  color: white;
  font-size: 45px;
  text-align:center;
  width:300px;
}
.t5{
  color:white
}
/*DONE:Cat Guy*/

/*Rabbit*/
.r {
  position: relative;
  width: 32%;
  background-color:rgb(252, 197, 93)  ;
}

.image6 {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle6 {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  max-height:380px;
}

.r:hover .image6 {
  opacity: 0.3;
}

.r:hover .middle6 {
  opacity: 1;
}

.text6 {
  background-color: #ffb31c;
  color: rgb(0, 0, 0);
  font-size: 45px;
  text-align:center;
  width:300px;
}
/*DONE: Rabbit*/

/*Frog Face*/
.ff {
  position: relative;
  width: 32%;
  background-color:rgb(27, 28, 97)  ;
}

.image7 {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle7 {
  color:white;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  max-height:380px;
}

.ff:hover .image7 {
  opacity: 0.3;
}

.ff:hover .middle7 {
  opacity: 1;
}

.text7 {
  background-color: #713d1f;
  color: white;
  font-size: 45px;
  text-align:center;
  width:300px;
}
.t7{
  color:white;
}
/*DONE:Frog Face*/

/*Fantasy*/
.f {
  position: relative;
  width: 35%;
  background-color:rgb(123, 65, 44)  ;
}

.image8 {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle8 { 
  color:white;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  max-height:380px;
}

.f:hover .image8 {
  opacity: 0.3;
}

.f:hover .middle8 {
  opacity: 1;
}

.text8 {
  background-color: #8a3927;
  color: white;
  font-size: 45px;
  text-align:center;
  width:300px;
}
.t8{
  color:white;
}
/*DONE:Fantasy*/

/*Fairy*/
.fr {
  position: relative;
  width: 32%;
  background-color:rgb(27, 28, 97)  ;
}

.image9 {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle9 {
  color:white;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  max-height:380px;
}

.fr:hover .image9 {
  opacity: 0.3;
}

.fr:hover .middle9 {
  opacity: 1;
}

.text9 {
  background-color: #0a1833;
  color: white;
  font-size: 45px;
  text-align:center;
  width:300px;
}
.t9{
  color:white;
}
/*DONE:Fairy*/

/*Star*/
.s{
  position: relative;
  width: 70%;
  background-color:rgb(27, 28, 97)  ;
}

.image10 {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle10 {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  color:white;
  top: 200px;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  max-height:380px;
}

.s:hover .image10 {
  opacity: 0.3;
}

.s:hover .middle10 {
  opacity: 1;
}

.text10 {
  color: white;
  font-size: 45px;
  text-align:center;
  width:300px;
}
.t10{
  color:white;
}
/*DONE:Star*/

/*Kim Taehyung*/
.kt {
  position: relative;
  width: 32%;
  background-color: rgb(40, 40, 139) ;
}

.image11 {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle11 {
  color:white;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  max-height:380px;
}

.kt:hover .image11 {
  opacity: 0.3;
}

.kt:hover .middle11 {
  opacity: 1;
}

.text11 {
  background-color: #0a1833;
  color: white;
  font-size: 36px;
  text-align:center;
  width:300px;
}
.t11{
  color:white;
}
/*DONE:Kim Taehyung*/

/*Messi*/
.messi {
  position: relative;
  width: 32%;
  background-color:rgb(99, 168, 210)  ;
}

.image12 {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle12 {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  max-height:380px;
}

.messi:hover .image12 {
  opacity: 0.3;
}

.messi:hover .middle12 {
  opacity: 1;
}

.text12 {
  background-color: #0a1833;
  color: white;
  font-size: 36px;
  text-align:center;
  width:300px;
}
.t12{
  color:white;
}
/*DONE:Messi*/

/*Park Jimin*/
.pj {
  position: relative;
  width: 32%;
  background-color:rgb(204, 16, 163)  ;
}

.image13 {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle13 {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  max-height:380px;
}

.pj:hover .image13 {
  opacity: 0.3;
}

.pj:hover .middle13 {
  opacity: 1;
}

.text13 {
  background-color: #0a1833;
  color: white;
  font-size: 36px;
  text-align:center;
  width:300px;
}
.t13{
  color:white;
}
/*DONE:Park Jimin*/
table{
  background-color:#ec8381;
  color:black;
}